<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.author.name }}",
  "url": "{{ site.url }}{{ site.baseurl }}",
  "email": "{{ site.author.email }}",
  "jobTitle": "{{ site.author.bio }}",
  "description": "{{ site.description }}",
  "image": "{{ site.url }}{{ site.baseurl }}/assets/images/resume.webp",
  "sameAs": [
    "{{ site.social.blog }}",
    "https://github.com/{{ site.social.github }}/",
    "https://www.linkedin.com/in/james-wells-122170164/",
    "https://twitter.com/fizbanstack"
  ]
}
</script>
