name: Deploy to GitHub Pages

on:
  push:
    branches: [ "astro" ] # This triggers the build when you push to your astro branch

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install, build, and upload
        uses: withastro/action@v3
        # If your files are in a subfolder like /docs, add this:
        # with:
        #   path: ./docs