name: Fetch RSS to Data
on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

permissions:
  contents: write
jobs:
  fetch-rss:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch RSS Feeds
        uses: Promptly-Technologies-LLC/rss-fetch-action@v2
        with:
          # List all your feed URLs here
          feed_url: |
            https://portswigger.net/blog/rss
          file_path: _data/rss_feeds.json

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add _data/rss_feeds.json
          git commit -m "Update RSS feeds" || exit 0
          git push