name: Fetch and Merge RSS
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: RSS to JSON
        uses: I-Valchev/rss-to-json@1.0.0
        with:
          source: _data/feeds.yaml
          target: _data/rss_feeds.json
          sortBy: published

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add _data/rss_feeds.json
          git commit -m "Update consolidated RSS data" || exit 0
          git push